@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

#Home{
    height: 500px;
}
#Home:before{
    content: " ";
    background: url('Images/background3.jpg') no-repeat center center/cover;
    position: relative;
    bottom: -88px;
    /* right: 769px; */
    height: 770px;
    width: 100%;
    z-index:-1;
    opacity: 0.90;
}
/* Iterinary section  */

.container-iterinary{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:center ;
    position: relative;
    top: -334px;
    left: -787px;
    border: 3px solid  #162938;
    background:transparent;
    width: 400px;
    height: 440px;
    border-radius: 20px;
    font-weight: bold;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 30 rgba(0, 0, 0, 0.5);
}
.input-box{
    /* background: transparent; */
    position: relative;
    width: 375px;
    height: 45px;
    border-bottom: 2px solid #162938;
    /* padding-left: 5px; */
    /* width: 90%;
    height: 37px; */
    margin: 21px 0px;
}

.label{
    position: absolute;
    top: 0px;
    left: 21px;
    display: inline-block;
    color: #070707;
    font-weight: bold;
    transition: 0.5s;
    pointer-events: none;
}

.input-box input{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 20px;
}
.container-iterinary h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}
input[type="date"]{
    color: #070707;
    font-size: 15px;
    position: relative;
    top: 5px;
}
.input-box input:focus ~ span,
.input-box input:valid ~ span
{
    transform: translateX(-10px) translateY(-24px);
    font-size: 14px;
}
.icon{
    position: absolute;
    left: 347px;
    bottom: 12px;
    font-size: 1.3em;
}
.container-iterinary button{
    width: 70%;
    height: 50px;
    background: #162938;
    color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    margin: auto;
    transition: all 0.3s;
}
.container-iterinary button>a{
    color: white;
    text-decoration: none;
}
.container-iterinary button:hover{
    background: #28475e;
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px black;
}
/* body{
    display: flex;
    background: url('background1.jpg') no-repeat center center/cover;
    margin-top:250px;
} */
/* (Navigation/logo) section  */
header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: -25px 30px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
img[src='Images/logo.png']{
    height: 80px;
    width: 141px;
    position: relative;
    top: 6px;
    left: 55px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
img[src='Images/logo.png']:hover{
    box-shadow:0px 0px 40px  black;
}
.navbar{
    position: relative;
    right: 46px;
}
.navbar>a{
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 40px;
}
.navbar >a:hover{
    text-shadow: 2px 2px 5px black;
}
.navbar >a::after{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #0d0202;
    border-radius: 5px;
    transform-origin:left;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.navbar >a:hover::after{
    transform: scaleX(1);
}
.navbar button{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 40px;
    transition: all 0.5s ease-in-out;
}
.navbar button a{
    color: black;
    text-decoration: none;
}

    .navbar button:hover{
        background-color: white;
        box-shadow: 0px 0px 30px black;
    }

/* Section section  */
section[id="Home"]{
    display: flex;
    align-items: center;
    justify-content:center;
}
section[id="none"]{
    display: flex;
    align-items: center;
    justify-content:center;
}
.wrapper{
    display: inline-flex;
    position: relative;
    left: 570px;
    top:-160px;
}
.static-text{
    font-size: 32px;
    font-weight: bolder;
}
.dynamic-text{
    margin-left: 5px;
    height: 43px;
    line-height:37px;
    background:transparent ;
    overflow: hidden;
}
.dynamic-text li{
    color:rgb(254, 254, 254);
    list-style: none;
    font-size: 28px;
    font-weight:bold;
    position: relative;
    top: 0px;
    animation: slide 17s steps(4) infinite;
}

@keyframes slide{
    100%{
        top: -146px;
    }
}
.dynamic-text li span{
    position: relative;
}
.dynamic-text li span::after{
    content: '';
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    border-left: 4px solid #162938;
    animation: typing 3s steps(34) infinite;
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

/* Services section  */
.headofsection{
    text-align: center;
    font-size: 2.7rem;
    position: relative;
    bottom: 145px;
}
#services{
    position: relative;
    top: -68px;
    /* background:black; */
    /* height: 600px; */
    /* text-align: center; */
    /* background: url('bg2.jpg') no-repeat center center/cover; */

}
#services:before{
    content: " ";
    height: 800px;
    width: 100%;
    z-index: -1;

}

.services{
    display: grid;
    /* grid-template-columns: repeat(autofit,minmax(300px,2fr)); */
    /* gap: 10px; */
    gap: 1rem 1rem;
    /* justify-content: center; */
    grid-template-areas:
    'image1 text1 '
    'image2 text2 '
    'image3 text3 ';
    position: relative;
    bottom: 109px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#image1{
    grid-area:image1;
    width: 500px;
    height: 500px;
    margin-left:150px;
}
img[src='image1.jpg']{
    margin-left: 100px;
    height: 500px;
    width: 400px;
}
#text1{
    margin-top: 50px;
    grid-area:text1;
    width: 500px;
    height: 300px;
}
#image2{
    margin-left: 350px;
    margin-top: 100px;
    grid-area:image2;
    width: 400px;
}
#text2{
    grid-area:text2;
    background: url('https://www.workloadautomation-community.com/uploads/1/0/2/7/102707030/screen-shot-2020-06-04-at-12-08-57-am_orig.png') no-repeat center center/cover;
    margin-right: 146px;
    border-radius: 40px;
}
#image3{
    height: 400px;
    width: 400px;
    grid-area:image3;
    background: url('https://trips.klarnacdn.net/images/trip-benefits-3-new.png') no-repeat center center/cover;
    background-size: contain;
    margin-left:300px;
    margin-top: 100px;
}
#text3{
    grid-area:text3;
    width: 500px;
    height: 200px;
    margin-top: 200px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity:0;
    transition: all 1.5s ease-in;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.headofbox{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
}
.subhead{
    font-size: 1.5rem;
    font-weight: bold;
}

/* Footer section  */
.footer{
    color: white;
    background: black;
    width:100%;
    height: 650px;
    display: grid;
    gap: 1em 1em;
    grid-template-areas: 
    'firstdabba  firstdabba seconddabba thirddabba'
    'niche1stdabba niche1stdabba niche2nddabba niche2nddabba';
}
#firstdabba{
    grid-area:firstdabba;
    margin-left: 250px;
    margin-top: 100px;
}
#seconddabba{
    grid-area:seconddabba;
    margin-right: 207px;
}
#thirddabba{
    grid-area: thirddabba;
    margin-right: 90px;
    position: relative;
    right: 196px;
}
#niche1stdabba{
    grid-area: niche1stdabba;
    width: 701px;
    position: relative;
    left: 100px;
    bottom: 45px;
    font-size: 15px;
}
#niche2nddabba{
    grid-area: niche2nddabba;
    position: relative;
    left:294px;
    bottom: 50px;
    width: 459px;
    font-size: 15px;
}
.socialicon{
    filter:grayscale(90%);
    margin-left: 50px;
    font-size: 30px;
    padding-right: 50px;
}
ion-icon[name="logo-facebook"]{
    padding-right: 10px;
}
ion-icon[name="logo-twitter"]{
    padding-right: 10px;
}
ion-icon[name="logo-linkedin"]{
    padding-right: 10px;
}
ion-icon[name="logo-instagram"]{
    padding-right: 10px;
}
a>ion-icon{
    border: 2px solid white;
    background:white;
    border-radius: 6px;
}
.footer-list{
    list-style: none;
    font-weight: lighter;
    margin-top: 60px;
}
.footer-list>li{
    margin: 20px 20px;
    font-weight: 550;

}
.footer-list>li>a{
    text-decoration: none;
    color: white;
}
.footer-list>li>a:hover{
    text-decoration: underline;
    color:rgb(61, 61, 246);
}
.bottom-foot{
    margin-top: 30px;
    display: flex;
    font-size: 11px;
    list-style: none;
    text-decoration: underline;
    color: white;
}
.bottom-foot>li>a{
    color: white;
    padding: 8px;
}
.bottom-foot>li>a:hover{
    color:rgb(61, 61, 246);
    font-weight: 400;
}

@media(max-width:300px){
    #Home:before{
        display: block;
        width: 100%;
        height: 674px;
        /* background-position: center; */
        /* transform:scale(1.75); */
    }
    #Home{
        width: 967px;
    }
    img[src='Images/logo.png']{
        height: 100px;
        width: 130px;
        display: block;
        position: relative;
        left: 346px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar{
        width:1206px;
    }
    .footer{
        display: none;
    }
    header{
        width: 872.2px;
    }
    .navbar>a{
        font-size: 32px;
        top: 125px;
        right: 50px;
    }
    a[href="#2"],a[href="#3"]{
        display: none;
    }
    button[href="Sign_Up_page.html"]{
        display: none;
    }
    
}

@media(min-width:1000px) and (max-width:1496px){
    #Home:before{
    background-size: cover;
    viewport-fit: cover;
    }
}